.cart-item {
  width: 100%;
  min-height: 6.8rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  border-radius: 0.5rem;
  font-size: 1.2rem;
  padding: 0.4rem 1.3rem;
  overflow: hidden;
  box-sizing: border-box;
  box-shadow: 0 2px 5px hsla(0, 0%, 63%, .788);
  margin-bottom: 2rem;
}
.cart-item .image-name {
  width: 70%;
  display: flex;
  align-items: center;
  column-gap: 0.2rem;
  row-gap: 0.5rem;

  .cart-item-image {
    width: 5rem;
    height: 5rem;
    min-width: 5rem;
    border-radius: 0.3rem;
    overflow: hidden;

    img {
      width: inherit;
      height: inherit;
      border-radius: inherit;
      object-fit: cover;
    }
  }

  .cart-item-name{
    width: 100%;
    // text-overflow: ellipsis;
    font-weight: 700;
    color: #525252;
  }
}

.cart-item .buttons-price{
    display: flex;
    align-items: center;
    row-gap: 0.5rem;
    column-gap: 2rem;

    .cart-item-buttons{
        min-width: 5rem;
        height: 1.5rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
        border: 1px solid #d4d5d9;
        padding: 0.3rem 0.5rem;
        overflow: hidden;

        .minus-btn{
            background-color: white;
            outline: none;
            border: none;
            font-size: 1.4rem;
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;

        }
        .plus-btn{
            color: #60b246;
            outline: none;
            border: none;
            background-color: white;
            font-size: 1.4rem;
            cursor: pointer;
        }
        .count{
            font-size: 1.2rem;
            overflow: hidden;
        }

    }
    .cart-item-price{
        width: 100%;
        text-align: right;
    }
}


@media screen and (max-width: 680px) {
    .cart-item {
        .image-name {
            .cart-item-name {
                font-size: 1rem;
                font-weight: 500;
            }
        }
    }

}
@media screen and (max-width: 480px) {
    .cart-item {
        min-height: 4.5rem;

        .image-name {
            width: 60%;
            display: flex;
            align-items: flex-start;
            flex-direction: column;

            .cart-item-image {
                width: 4rem;
                height: 4rem;
            }

            .cart-item-name {
                text-overflow: ellipsis;
                white-space: nowrap;
                overflow: hidden;
            }
        }

        .buttons-price {
            flex-direction: column-reverse;

            .cart-item-buttons {
                min-width: 4rem;
                height: 1rem;
            }

            .cart-item-price {
                font-size: 1rem;
            }
        }
    }

}